<footer th:fragment="fragFooter" class="footer">
    <div class="footer-inner">
        <div class="footer_info">
            <em class="footer-title">한우리</em><br/>
            <p>재학생 대표 : 진주영</p>
            <p>서울특별시 영등포구 도림로 282 3층(뉴타운갈비탕건물)</p>
            <strong>© 2025 한우리, Inc. All rights reserved.</strong>
        </div>
        <div class="footer_service">
            <div>
                <em class="footer-title">서비스</em>
                <div class="footer-text"><a href="/about/activities">활동</a></div>
                <div class="footer-text"><a href="/about/findus">오시는 길</a></div>
                <div class="footer-text"><a href="/about/contact">문의하기</a></div>
            </div>
            <div>
                <em class="footer-title">소셜</em>
                <div class="footer-text"><a target="_blank" href="https://open.kakao.com/o/gxDA0aAf">한우리 단체채팅방</a></div>
                <div class="footer-text"><a target="_blank" href="https://www.knou.ac.kr/knou/index.do?epTicket=LOG">방송통신대학교</a>
                </div>
                <div class="footer-text"><a target="_blank" href="https://cs.knou.ac.kr/cs1/index.do?epTicket=LOG">컴퓨터과학과</a>
                </div>
            </div>
        </div>
    </div>
</footer>