<header th:fragment="fragHeader" class="header">
    <div class="header-inner">
        <div class="logo"><a href="/"><img class="logo-image" src="/images/logo.png" alt="한우리 로고 사진"></a></div>
        <div class="menu"><a href="/admin">관리자</a></div>
        <div class="menu"><a href="/about/activities">활동</a></div>
        <div class="menu"><a href="/about/findus">오시는길</a></div>
        <div class="menu"><a href="/about/contact">문의사항</a></div>
        <div class="menu"><a href="/study/list">스터디</a></div>
    </div>
</header>
