<!DOCTYPE HTML>
<html th:fragment="layout (title, content, links)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <th:block th:if="${title != null}" th:replace="${title}">타이틀</th:block>

    <!--공통 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">

    <!-- 추가 -->
    <th:block th:if="${links != null}" th:replace="${links}"></th:block>
</head>
<body>

<div th:replace="~{common/header :: fragHeader}"></div>

<div th:replace="${content}">
    <p>레이아웃 컨텐츠</p>
</div>

<div th:replace="~{common/footer :: fragFooter}"></div>

</body>
</html>