<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link}, '한우리 스터디', '한국방송통신대학교 공식 스터디에 오신 것을 환영합니다!')}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>스터디 목록</title>
        <link th:href="@{/css/study.css}" rel="stylesheet">
    </head>
    <body>
        <section>
            <div class="container" style="max-width: 780px">
                <div class="pt-5 text-center">
                    <h2>스터디 목록</h2>
                </div>

                <div class="row">
                    <div class="search-container">
                        <form th:action="@{/study/search}" method="get" class="search-form">
                            <select class="search-select">
                                <option value="">과목</option>
                                <option th:each="subject : ${searchFormDTO.subject}"
                                        th:value="${subject?.subjectId}"
                                        th:text="'[' + ${subject?.grade} + '-' + ${subject?.semester} + '] ' + ${subject?.subjectName}"></option>
                            </select>

                            <select class="search-select">
                                <option value="">상태</option>
                                <option th:each="status : ${searchFormDTO.status}"
                                        th:value="${status.ordinal}"
                                        th:text="${status.displayName}"></option>
                            </select>

                            <!-- 검색어 입력 -->
                            <input type="text" name="query" th:value="${query}" placeholder="스터디명 입력" class="search-input"/>

                            <!-- 검색 버튼 -->
                            <button type="submit" class="btn btn-primary">검색</button>
                        </form>
                    </div>
                    <div class="col p-sm-0">
                        <button class="btn btn-primary float-end"
                                onclick="location.href='/study/form'"
                                th:if="${memberId != null}"
                                type="button">스터디 생성</button>
                    </div>
                    <table class="table mt-sm-1">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>스터디명</th>
                                <th>상태</th>
                                <th>시작일</th>
                                <th>종료일</th>
                                <th>버튼</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="studyList, iterStat : ${pageInfo.list}">
                                <td th:text="${iterStat.index + 1}"></td>
                                <td th:text="${studyList.title}"></td>
                                <td th:text="${studyList.status.displayName}"></td>
                                <td th:text="${studyList.startDate}"></td>
                                <td th:text="${studyList.endDate}"></td>
                                <td>
                                    <button th:onclick="'view(' + ${studyList.studyId} + ')'" class="btn btn-secondary btn-sm">보기</button>
                                    <button th:if="${studyList.memberId == memberId}" th:onclick="|edit(${studyList.studyId})|" class="btn btn-warning btn-sm">수정</button>
                                    <button th:if="${studyList.memberId == memberId}" th:onclick="|del(${studyList.studyId})|" class="btn btn-danger btn-sm">삭제</button>
                                </td>
                            </tr>

                            <!-- 리스트가 비어있는 경우 -->
                            <tr th:if="${#lists.isEmpty(pageInfo.list)}">
                                <td colspan="6" class="text-center">등록된 스터디가 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${pageInfo.pageNum == 1} ? ' disabled'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${pageInfo.pageNum - 1}, pageSize=${pageInfo.pageSize})}">&laquo;</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, pageInfo.pages)}" th:classappend="${i == pageInfo.pageNum} ? ' active'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${i}, pageSize=${pageInfo.pageSize})}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:classappend="${pageInfo.pageNum == pageInfo.pages} ? ' disabled'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${pageInfo.pageNum + 1}, pageSize=${pageInfo.pageSize})}">&raquo;</a>
                    </li>
                </ul>
            </div>

            <script th:inline="javascript">
                window.onload = function() {
                    const message = /*[[${message}]]*/ ''; // Thymeleaf를 사용하여 message 가져오기
                    console.log(message);
                    if (message) {
                        alert(message); // 메시지가 존재하면 alert 띄우기
                    }
                }
            </script>
            <script type="application/javascript" src="/js/study.js"></script>
        </section>
    </body>
</html>
