<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/css/bootstrap.min.css}"
              href="../css/bootstrap.min.css" rel="stylesheet">
        <style>
            .container {
                max-width: 560px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <h2>스터디 뷰</h2>
            </div>
            <ul>
                <li th:text="'과목명 : ' + (${subjectName})"></li>
                <li th:text="'스터디명 : ' + *{study.title}"></li>
                <li th:text="'상태 : ' + *{study.status.getDisplayName()}"></li>
                <li th:text="'요일 및 시간 : ' + *{study.schedule}"></li>
                <li th:text="'시작일 : ' + *{study.startDate}"></li>
                <li th:text="'종료일 : ' + *{study.endDate}"></li>
                <li th:text="'스터디 목표 : ' + *{study.goal}"></li>
            </ul>

            활동내역 <a th:href="@{/studyActivity/form(studyId=${study.studyId})}" class="btn btn-primary btn-sm">입력</a>
            <ul th:each="studyActivity : ${studyActivity}">
                <li th:text="'스터디 날짜 : ' + ${studyActivity.studyDate}"></li>
                <li th:text="'제목 : ' + ${studyActivity.title}"></li>
                <li th:text="'내용 : ' + ${studyActivity.content}"></li>
                <!-- 수정 버튼 -->
                <a th:if="${studyActivity.createdMemberId == memberId}" th:href="@{/studyActivity/form(studyId=${studyActivity.studyId}, studyActivityId=${studyActivity.studyActivityId})}" class="btn btn-warning btn-sm">수정</a>
                <!-- 삭제 버튼 -->
                <a th:if="${studyActivity.createdMemberId == memberId}" th:onclick="|del(${studyActivity.studyActivityId})|" class="btn btn-danger btn-sm" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
            </ul>

            <a th:href="@{/study/list}">목록으로</a>
        </div> <!-- /container -->
        <script th:inline="javascript">
            window.onload = function() {
                const message = /*[[${message}]]*/ ''; // Thymeleaf를 사용하여 message 가져오기
                console.log(message);
                if (message) {
                    alert(message); // 메시지가 존재하면 alert 띄우기
                }
            }
        </script>
        <script type="application/javascript" src="/js/studyActivity.js"></script>
    </body>
</html>
