<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link}, '한우리 스터디', '한국방송통신대학교 공식 스터디에 오신 것을 환영합니다!')}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>스터디 목록</title>
        <link th:href="@{/css/study.css}" rel="stylesheet">
    </head>
    <body>
    <section>
            <div class="container" style="max-width: 780px">
                <div class="py-5 text-center">
                    <h2>스터디 목록</h2>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary float-end"
                                onclick="location.href='/study/form'"
                                th:if="${memberId != null}"
                                type="button">스터디 생성</button>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>상태</th>
                                <th>시작일</th>
                                <th>종료일</th>
                                <th>버튼</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="studyList, iterStat : ${pageInfo.list}">
                                <td th:text="${iterStat.index + 1}"></td>
                                <td th:text="${studyList.title}"></td>
                                <td th:text="${studyList.status.displayName}"></td>
                                <td th:text="${studyList.startDate}"></td>
                                <td th:text="${studyList.endDate}"></td>
                                <td>
                                    <button th:onclick="'view(' + ${studyList.studyId} + ')'" class="btn btn-secondary btn-sm">보기</button>
                                    <button th:if="${studyList.memberId == memberId}" th:onclick="|edit(${studyList.studyId})|" class="btn btn-warning btn-sm">수정</button>
                                    <button th:if="${studyList.memberId == memberId}" th:onclick="|del(${studyList.studyId})|" class="btn btn-danger btn-sm">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagination">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${pageInfo.pageNum == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${pageInfo.pageNum - 1}, pageSize=${pageInfo.pageSize})}">&laquo;</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, pageInfo.pages)}" th:classappend="${i == pageInfo.pageNum} ? 'active'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${i}, pageSize=${pageInfo.pageSize})}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:classappend="${pageInfo.pageNum == pageInfo.pages} ? 'disabled'">
                        <a class="page-link" th:href="@{/study/list(pageNum=${pageInfo.pageNum + 1}, pageSize=${pageInfo.pageSize})}">&raquo;</a>
                    </li>
                </ul>
            </div>


            <script th:inline="javascript">
                window.onload = function() {
                    const message = /*[[${message}]]*/ ''; // Thymeleaf를 사용하여 message 가져오기
                    console.log(message);
                    if (message) {
                        alert(message); // 메시지가 존재하면 alert 띄우기
                    }
                }
            </script>
            <script type="application/javascript" src="/js/study.js"></script>
        </section>
    </body>
</html>
