<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main">
<head>
    <title>스터디 생성</title>
    <style>
        input[type="date"] { width:105px; }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <form id="studyForm" th:object="${study}" enctype="multipart/form-data">
            <input type="hidden" id="studyId" th:field="*{studyId}"/> <!-- 수정할 경우 ID를 숨긴 필드로 보냄 -->
            <div class="form-group">
                <table>
                    <tr>
                        <td><label for="subjectId">과목명</label></td>
                        <td>
                            <select id="subjectId" name="subjectId">
                                <option value=0>선택</option>
                                <option th:each="val : ${subjects}" th:value="${val?.subjectId}"
                                        th:text="${val?.subjectName}"
                                        th:selected="${val?.subjectId == study.subjectId}">
                                </option>
                            </select>

                            <!--                        <input type="text" id="subjectCode" name="subjectCode" placeholder="과목코드명을 입력하세요"/>-->
                            <button onclick="goSubjectNew();return false;">과목 등록</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="title">* 스터디명</label></td>
                        <td><input type="text" id="title" name="title" th:field="*{title}" placeholder="스터디명을 입력하세요"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="status">* 상태</label></td>
                        <td>
                            <select id="status" name="status" th:field="*{status}">
                                <option value="">선택</option>
                                <option th:each="status : ${status}"
                                        th:value="${status}"
                                        th:text="${status.displayName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="schedule">* 요일 및 시간</label></td>
                        <td><input type="text" id="schedule" name="schedule" th:field="*{schedule}"
                                   placeholder="ex) 매주 수, 오후 7시"></td>
                    </tr>
                    <tr>
                        <td><label for="startDate">* 시작일</label></td>
                        <td><input type="date" id="startDate" name="startDate" th:field="*{startDate}"></td>
                    </tr>
                    <tr>
                        <td><label for="endDate">* 종료일</label></td>
                        <td><input type="date" id="endDate" name="endDate" th:field="*{endDate}"></td>
                    </tr>
                    <tr>
                        <td><label for="goal">스터디 목표</label></td>
                        <td><textarea id="goal" name="goal" rows="5" maxlength="70" th:field="*{goal}"></textarea>
                    </tr>
                    <tr>
                        <td><label for="file">파일</label></td>
                        <td><input id="file" type="file" name="file" /></td>
                    </tr>
                </table>
            </div>
        </form>
        <button id="submitBtn" type="button" th:text="${study.studyId > 0 ? '수정' : '등록'}"></button>
        <button th:if="${study.studyId > 0}" th:onclick="'del(' + ${study.studyId} + ')'">삭제</button>
        <button onclick="window.history.back()">닫기</button>
    </div>
    <script type="application/javascript" src="/js/study.js"></script>
</section>
</body>
</html>