<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, '한우리 메인', '한국방송통신대학교 공식 스터디에 오신 것을 환영합니다!')}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>스터디 등록</title>
        <style>
            input[type="date"] { width:105px; }
        </style>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="py-5 text-center">
                    <h2>스터디 등록</h2>
                </div>
                <form id="studyForm" th:object="${study}" enctype="multipart/form-data">
                    <input type="hidden" id="studyId" th:field="*{studyId}"/> <!-- 수정할 경우 ID를 숨긴 필드로 보냄 -->
                    <div class="field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
                    <div>
                        <label for="subjectId">과목명</label>
                        <select id="subjectId" name="subjectId">
                            <option value=0>선택</option>
                            <option th:each="val : ${subjects}" th:value="${val?.subjectId}"
                                    th:text="${val?.subjectName}"
                                    th:selected="${val?.subjectId == study.subjectId}"
                                    th:errorclass="field-error">
                            </option>
                        </select>
                        <button onclick="goSubjectNew();return false;" class="btn btn-primary btn-sm">과목 등록</button>
                        <div class="field-error" th:errors="*{subjectId}"></div>
                    </div>



                    <div class="form-group">
                        <table>
                            <tr>
                                <td></td>
                                <td>


                                    <!--                        <input type="text" id="subjectCode" name="subjectCode" placeholder="과목코드명을 입력하세요"/>-->

                                </td>
                            </tr>
                            <tr>
                                <td><label for="title">* 스터디명</label></td>
                                <td><input type="text" id="title" name="title" th:field="*{title}" placeholder="스터디명을 입력하세요"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="status">* 상태</label></td>
                                <td>
                                    <select id="status" name="status" th:field="*{status}">
                                        <option value="">선택</option>
                                        <option th:each="status : ${status}"
                                                th:value="${status}"
                                                th:text="${status.displayName}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="schedule">* 요일 및 시간</label></td>
                                <td><input type="text" id="schedule" name="schedule" th:field="*{schedule}"
                                           placeholder="ex) 매주 수, 오후 7시"></td>
                            </tr>
                            <tr>
                                <td><label for="startDate">* 시작일</label></td>
                                <td><input type="date" id="startDate" name="startDate" th:field="*{startDate}"></td>
                            </tr>
                            <tr>
                                <td><label for="endDate">* 종료일</label></td>
                                <td><input type="date" id="endDate" name="endDate" th:field="*{endDate}"></td>
                            </tr>
                            <tr>
                                <td><label for="goal">스터디 목표</label></td>
                                <td><textarea id="goal" name="goal" rows="5" maxlength="70" th:field="*{goal}"></textarea>
                            </tr>
                            <tr>
                                <td><label for="file">파일</label></td>
                                <td><input id="file" type="file" name="file" /></td>
                            </tr>
                        </table>
                    </div>
                </form>
                <button id="submitBtn" type="button" th:text="${study.studyId > 0 ? '수정' : '등록'}"></button>
                <button th:if="${study.studyId > 0}" th:onclick="'del(' + ${study.studyId} + ')'">삭제</button>
                <button onclick="window.history.back()">닫기</button>
            </div>
            <script type="application/javascript" src="/js/study.js"></script>
        </section>
    </body>
</html>