<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section},~{::link}, '수강신청', '수강신청')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>수강신청</title>
</head>
<body>
<!-- 추가 link 없을 경우, link fragment 필요 -->
<th:block th:fragment="link"></th:block>
<section>
    <div class="container">
        <form action="/signups/new" th:action th:object="${signupFormRequestDTO}" method="post">
            <input type="hidden" id="memberId" th:field="*{memberId}"/>
            <div>
                <div>과목</div>
                <div th:each="s : ${subjects}" class="form-check form-check-inline">
                    <input type="checkbox" th:field="*{subjectIds}" th:errorclass="field-error"
                           th:value="${s.subjectId}" class="form-check-input">
                    <label th:for="${#ids.prev('subjectIds')}"
                           th:text="${s.subjectName}" class="form-check-label"></label>
                </div>
                <div class="field-error" th:errors="*{subjectIds}"></div>
            </div>
            <div>
                <label for="year">년도</label>
                <input type="number" id="year" min="1900" max="2100" step="1"
                       th:field="*{year}" th:errorclass="field-error" class="form-control">
                <div class="field-error" th:errors="*{year}"></div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">수강 신청</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            type="button"
                            th:onclick="'history.back();'">취소
                    </button>
                </div>
            </div>
        </form>
    </div> <!-- /container -->
</section>