<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>수강신청 상세</h2>
    </div>
    <div>
        <div>과목</div>
        <div th:each="s : ${subjects}" class="form-check form-check-inline">
            <input type="checkbox" th:field="*{signupFormRequestDTO.subjectIds}" th:value="${s.subjectId}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('subjectIds')}"
                   th:text="${s.subjectName}" class="form-check-label"></label>
        </div>
    </div>
    <div>
        <label for="year">년도</label>
        <input type="number" id="year" min="1900" max="2100" step="1"
               th:value="*{signupFormRequestDTO.year}" class="form-control" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='subject-list.html'"
                    th:onclick="|location.href='@{/signups/members}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
