<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 780px">
    <div class="py-5 text-center">
        <h2>회원 리스트</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='member-form.html'"
                    th:onclick="|location.href='@{/members/new}'|"
                    type="button">회원 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>로그인ID</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>가입일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${members}">
                <td><a href="member-view.html" th:href="@{|/members/${m.memberId}|}" th:text="${m.loginId}">로그인ID</a></td>
                <td th:text="${m.name}"></td>
                <td th:text="${m.email}"></td>
                <td th:text="${m.phoneNumber}"></td>
                <td th:text="${m.createdDate}"></td>
                <td><button class="btn btn-danger btn-sm" th:onclick="'del(' + ${m.memberId} + ')'">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                    type="button"
                    th:onclick="|location.href='@{/}'|">홈으로
            </button>
        </div>
    </div>
</div><!-- /container -->
<script>
    function del(id){
        if (confirm('회원을 삭제하시겠습니까?')) {
            let msg = "다시 시도해주세요.";
            let url = "/members/" + id;
            fetch(url, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.ok) msg = "회원이 삭제되었습니다.";
                })
                .catch(error => {
                    console.error("삭제 중 오류 발생:", error);
                    alert(msg);
                })
                .finally(()=>{
                    alert(msg);
                    location.reload();
                });
        }
    }
</script>
</body>
</html>
