<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section},~{::link}, '한우리 스터디 회원가입', '한우리 스터디 회원가입 신청페이지')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<!-- 추가 link 없을 경우, link fragment 필요 -->
<th:block th:fragment="link"></th:block>
<th:block th:fragment="link">
    <link rel="stylesheet" th:href="@{/css/member.css}">
</th:block>
<section>
    <div class="container">
        <div class="rules-box">
            <h2>한우리 스터디 가입 신청</h2>
            <p><strong>한우리는</strong> 학우들과 함께 공부하는 것을 목적으로 하는 한국방송통신대학교 동아리 모임이며, 비영리 단체로서 회비와 후원금으로 운영됨을 알려드립니다.</p>

            <p>회비는 한우리 회원을 위한 최소한의 <strong class="highlight">운영기금</strong>입니다.<br>
                <span class="highlight">한우리의 가입 시</span> 다음과 같은 준수 사항이 있음을 알려드립니다.</p>

            <h5 class="rule-title">- 운영회칙 -</h5>
            <ol>
                <li>가입비와 연회비 납부를 통해 한우리에서 진행하는 오프라인 수업을 들을 수 있으며, 다양한 행사의 참가 자격이 주어집니다.</li>
                <li>연회비 용도는 <strong>스터디룸 임대료, 공과금(인터넷/전기/수도 등)</strong>에 사용됩니다.</li>
                <li>가입비는 <strong>10,000원</strong>입니다. (최초 1회 납부)</li>
                <li>연회비는 <strong>20만원</strong>이며, 중간 가입자는 <strong>월 단위 계산</strong>으로 합니다.</li>
                <li>2025년 2학기의 납부기간은 <strong>8월 말까지</strong>로 합니다.</li>
                <li><strong>가입 목적 외 사용 금지</strong>: 회비는 학습 및 커뮤니티 활동 외의 용도로 사용하지 않습니다.</li>
            </ol>
        </div>
        <hr class="my-4">
        <form action="/member/new" th:action th:object="${memberFormRequestDTO}" method="post">
            <div class="field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}"
                 th:text="${err}"></div>
            <div>
                <label for="loginId">아이디</label>
                <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error" class="form-control"
                       placeholder="아이디">
                <div class="field-error" th:errors="*{loginId}"></div>
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" th:field="*{password}" th:errorclass="field-error"
                       class="form-control"
                       placeholder="비밀번호">
                <div class="field-error" th:errors="*{password}"></div>
            </div>
            <div>
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" th:errorclass="field-error"
                       class="form-control" placeholder="비밀번호 확인">
                <div class="field-error" th:errors="*{confirmPassword}"></div>
            </div>
            <div>
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{name}" th:errorclass="field-error" class="form-control"
                       placeholder="이름을 입력하세요">
                <div class="field-error" th:errors="*{name}"></div>
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" th:field="*{email}" th:errorclass="field-error" class="form-control"
                       placeholder="이메일을 입력하세요">
                <div class="field-error" th:errors="*{email}"></div>
            </div>
            <div>
                <label for="phoneNumber">전화번호</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" th:errorclass="field-error"
                       class="form-control" placeholder="전화번호를 입력하세요">
                <div class="field-error" th:errors="*{phoneNumber}"></div>
            </div>
            <div>
                <div>성별</div>
                <div th:each="gender : ${genders}" class="form-check form-check-inline">
                    <input type="radio" th:field="*{gender}" th:value="${gender.name()}"
                           class="form-check-input">
                    <label th:for="${#ids.prev('gender')}" th:text="${gender.displayName}" class="form-check-label">
                    </label>
                </div>
                <div class="field-error" th:errors="*{gender}"></div>
            </div>
            <div>
                <label for="birthdate">생년월일</label>
                <input type="date" id="birthdate" th:field="*{birthdate}" th:errorclass="field-error"
                       class="form-control" min="1900-01-01" max="2100-12-31">
                <div class="field-error" th:errors="*{birthdate}"></div>
            </div>
            <div>
                <label for="studentNo">학번</label>
                <input type="text" id="studentNo" th:field="*{studentNo}" th:errorclass="field-error"
                       class="form-control" placeholder="학번을 입력하세요">
                <div class="field-error" th:errors="*{studentNo}"></div>
            </div>
            <div>
                <label for="remark">우리 스터디에서 얻어가고 싶은 것은 무엇인가요?</label>
                <input type="text" id="remark" th:field="*{remark}" class="form-control"
                       placeholder="ex. 공부,프로젝트,네트워킹,친구 등">
            </div>
            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            type="button"
                            th:onclick="'history.back();'">취소
                    </button>
                </div>
            </div>
        </form>
    </div> <!-- /container -->
</section>