<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 비밀번호 수정</h2>
    </div>
    <form th:action="@{/members/{id}/password(id=${memberPasswordModifyRequestDTO.memberId})}" th:object="${memberPasswordModifyRequestDTO}" method="post">
        <div class="field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <!--<input type="hidden" name="_method" value="patch" />-->
        <input type="hidden" id="memberId" th:field="*{memberId}"/>
        <div>
            <label for="oldPassword">현재 비밀번호</label>
            <input type="password" id="oldPassword" th:field="*{oldPassword}" th:errorclass="field-error" class="form-control"
                   placeholder="현재 비밀번호">
            <div class="field-error" th:errors="*{oldPassword}"></div>
        </div>

        <div>
            <label for="newPassword">새 비밀번호</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" th:errorclass="field-error" class="form-control"
                   placeholder="새 비밀번호">
            <div class="field-error" th:errors="*{newPassword}"></div>
        </div>
        <div>
            <label for="confirmNewPassword">새 비밀번호 확인</label>
            <input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" th:errorclass="field-error"
                   class="form-control" placeholder="비밀번호 확인">
            <div class="field-error" th:errors="*{confirmNewPassword}"></div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">비밀번호 수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        type="button"
                        th:onclick="'history.back();'">취소
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>