<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link}, '한우리', '한국방송통신대학교 공식 스터디에 오신 것을 환영합니다!')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>스터디 활동내역 생성</title>
    <link th:href="@{/css/study.css}" rel="stylesheet">
</head>
<body>
    <section>
        <div class="container">
            <div class="py-5 text-center">
                <h2>
                    <span th:if="${subjectName != null}" th:text="${subjectName}"></span>
                    <span th:if="${studyName != null}" th:text="${studyName}"></span>
                </h2>
            </div>
            <form id="studyActivityForm" th:object="${studyActivity}" enctype="multipart/form-data">
                <input type="hidden" id="studyId" th:field="*{studyId}"/> <!-- 수정할 경우 ID를 숨긴 필드로 보냄 -->
                <input type="hidden" id="studyActivityId" th:field="*{studyActivityId}"/> <!-- 수정할 경우 ID를 숨긴 필드로 보냄 -->

                <div class="field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

                <div>
                    <label for="studyDate">* 스터디 날짜</label>
                    <input type="date" id="studyDate" name="studyDate" th:field="*{studyDate}" th:errorclass="field-error" class="form-control">
                    <div class="field-error" th:errors="*{studyDate}"></div>
                </div>
                <div>
                    <label for="title">* 제목</label>
                    <input type="text" id="title" name="title" th:field="*{title}" th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요"/>
                    <div class="field-error" th:errors="*{title}"></div>
                </div>
                <div>
                    <label for="content">* 내용</label>
                    <textarea id="content" name="content" rows="5" maxlength="70" th:field="*{content}" th:errorclass="field-error" class="form-control"></textarea>
                    <div class="field-error" th:errors="*{content}"></div>
                </div>
                <div>
                    <label for="file">파일</label>
                    <input id="file" type="file" name="file" class="form-control" />
                </div>
            </form>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button id="submitBtn" type="button" class="w-100 btn btn-lg" th:classappend="${studyActivity.studyActivityId > 0} ? 'btn-warning' : 'btn-primary'" th:text="${studyActivity.studyActivityId > 0 ? '수정' : '등록'}"></button>
                </div>
                <div class="col">
                    <button th:onclick="'view_study(' + ${studyActivity.studyId} + ')'"
                            class="w-100 btn btn-lg btn-secondary">취소</button>
                </div>
            </div>
        </div>
        <script type="application/javascript" src="/js/studyActivity.js"></script>
    </section>
</body>
</html>