<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
</head>
<body>
<ul>
    <li>도메인
        <ul>
            <li><a href="/members">회원</a></li>
            <li th:if="${session.loginMember == null}"><a href="/login">로그인</a></li>
            <li th:if="${session.loginMember != null}"><a href="/logout">로그아웃</a></li>
            <li><a href="/subjects">과목</a></li>
        </ul>
    </li>
</ul>
</body>
</html>
