<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link},'게시글 조회', '게시글 조회')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 조회</title>
</head>
<body>
<!-- 추가 link 없을 경우, link fragment 필요 -->
<th:block th:fragment="link"></th:block>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/posts/new}'|"
                        type="button">게시글 등록
                </button>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>분류</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${posts}">
                    <td th:text="${p.category.displayName}"></td>
                    <td><a href="post-view.html" th:href="@{|/posts/${p.postId}|}"
                           th:text="${p.title}">과목명</a></td>
                    <td th:text="${p.member.name}"></td>
                    <td th:text="${p.createdDate}"></td>
                    <td>
                        <button class="btn btn-danger btn-sm" th:onclick="'del(' + ${p.postId} + ')'">삭제</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary"
                        type="button"
                        th:onclick="|location.href='@{/}'|">홈으로
                </button>
            </div>
        </div>
    </div><!-- /container -->
    <script>
        function del(id) {
            if (confirm('게시글을 삭제하시겠습니까?')) {
                let msg = "다시 시도해주세요.";
                let url = "/posts/" + id;
                fetch(url, {
                    method: 'DELETE',
                })
                    .then(response => {
                        if (response.ok) msg = "게시글이 삭제되었습니다.";
                    })
                    .catch(error => {
                        console.error("삭제 중 오류 발생:", error);
                        alert(msg);
                    })
                    .finally(() => {
                        alert(msg);
                        location.reload();
                    });
            }
        }
    </script>
</section>
