<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link},'문의하기','자세한 사항이나 문의 사항이 있으시면 아래 정보를 통해 연락하실 수 있습니다.')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>문의하기</title>
    <link th:href="@{/css/about.css}" rel="stylesheet">
</head>
<body>
<!-- 추가 link 없을 경우, link fragment 필요 -->
<th:block th:fragment="link"></th:block>
<section>
    <div class="contact-info">
        <em>윤준석</em>
        <ul>
            <li><span>직책</span> : 한우리 학생 회장</li>
            <li><span>카카오톡 ID</span> : </li>
            <li><span>메일</span> : </li>
        </ul>
    </div>
    <div class="contact-info">
        <em>진주영</em>
        <ul>
            <li><span>직책</span> : 한우리 사이트관리자</li>
            <li><span>카카오톡 ID</span> : </li>
            <li><span>메일</span> : jjy3386@gmail.com</li>
        </ul>
    </div>
</section>
</body>
</html>