<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오시는 길</title>
    <link th:href="@{/css/about.css}" rel="stylesheet">
</head>
<body>
<!-- 추가 link 없을 경우, link fragment 필요 -->
<th:block th:fragment="link"></th:block>
<section>
    <!-- 헤더 -->
    <article class="intro-section">
        <h2>오시는길</h2>
        <p>우리의 모임 일정과 장소를 확인하세요!</p>
    </article>

    <!-- 메인 콘텐츠 -->
    <article class="findus-article">
        <div id="map" style="width:100%;height:400px;"></div>
        <div class="findus-content">
            <div class="main-title">
                <h3>Location</h3>
            </div>
            <ul>
                <li><span>장소</span>한우리 스터디 룸</li>
                <li><span>주소</span>서울특별시 영등포구 도림로 282 3층(뉴타운갈비탕건물)</li>
                <li><span>지하철</span>
                    <p><em>7</em>신풍역 4번 출구에서 도보 8분</p></li>
                <li><span>버스</span>
                    <p><em class="green">지선</em>6633, 5618 6516 6713</p>
                    <p><em class="green">마을</em>영등포01 영등포07 영등포04 영등포13</p>
                    <p><em class="purple">간선</em>507</p>
                    <p><em class="blue">일반</em>5</p></li>
                <li><span>비고</span>자세한 내용이나 문의 사항은 <a href="/about/contact">문의 페이지</a>를 통해 연락하실 수 있습니다.</li>
            </ul>
        </div>
        <div class="findus-content">
            <div class="main-title">
                <h3>OT</h3>
            </div>
            <ul>
                <li><span>일자</span>2025년 2월 21일</li>
                <li><span>요일</span>금요일</li>
                <li><span>시간</span>오후 8시 00분 ~</li>
                <li><span>비고</span>시간은 유동적으로 바뀔 수 있습니다!</li>
            </ul>
        </div>
    </article>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c95d06bbb6aaeb77ce88a9d004336ce3"></script>
    <script>
        // 지도 생성
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.50126818833467, 126.90630367494592), // 지도 중심 좌표
            level: 4
        };
        var map = new kakao.maps.Map(container, options);

        // 경로를 구성하는 좌표 배열
        var linePath = [
            new kakao.maps.LatLng(37.50013, 126.908969), // 시작점
            new kakao.maps.LatLng(37.50017754524346, 126.90576786096506), // 중간점
            new kakao.maps.LatLng(37.502960208387805, 126.90397465056222)  // 끝점
        ];

        // Polyline 객체 생성
        var polyline = new kakao.maps.Polyline({
            path: linePath, // 선을 구성하는 좌표 배열
            strokeWeight: 5, // 선의 두께
            strokeColor: '#FF0000', // 선의 색깔
            strokeOpacity: 0.8, // 선의 투명도 (0~1)
            strokeStyle: 'solid' // 선의 스타일
        });

        // 지도에 Polyline 표시
        polyline.setMap(map);
        // 마커 생성
        var markerPosition = new kakao.maps.LatLng(37.5030499932501, 126.904140670924); // 마커 위치
        var marker = new kakao.maps.Marker({
            position: markerPosition // 마커의 위치
        });

        // 마커 지도에 추가
        marker.setMap(map);
    </script>
    <!--
	* 카카오맵 - 약도서비스
	* 한 페이지 내에 약도를 2개 이상 넣을 경우에는
	* 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
-->
    <!--    &lt;!&ndash; 1. 약도 노드 &ndash;&gt;-->
    <!--    <div id="daumRoughmapContainer1736834395034" class="root_daum_roughmap root_daum_roughmap_landing"></div>-->

    <!--    &lt;!&ndash; 2. 설치 스크립트 &ndash;&gt;-->
    <!--    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>-->

    <!--    &lt;!&ndash; 3. 실행 스크립트 &ndash;&gt;-->
    <!--    <script charset="UTF-8">-->
    <!--        new daum.roughmap.Lander({-->
    <!--            "timestamp" : "1736834395034",-->
    <!--            "key" : "2mrui",-->
    <!--            "mapWidth" : "800",-->
    <!--            "mapHeight" : "360"-->
    <!--        }).render();-->
    <!--    </script>-->
</section>
</body>
</html>
