<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knou.seoul.hanwoori.domain.file.FileDAO">
    <!--파일 저장-->
    <insert id="save" parameterType="knou.seoul.hanwoori.domain.file.File" useGeneratedKeys="true" keyProperty="fileId">
        insert into file
        (
            source_kind,
            source_id,
            file_path,
            original_file_name,
            store_file_name
        )
        values
            (
                #{sourceKind},
                #{sourceId},
                #{filePath},
                #{originalFileName},
                #{storeFileName}
            )
    </insert>
    <!--전체 조회-->
    <select id="findAll" resultType="knou.seoul.hanwoori.domain.file.File">
        select *
        from file
    </select>
    <!--조회(id)-->
    <select id="findById" parameterType="Long" resultType="knou.seoul.hanwoori.domain.file.File">
        select *
        from file
        where file_id = #{fileId}
    </select>
    <!--파일삭제-->
    <delete id="delete" parameterType="knou.seoul.hanwoori.domain.file.File">
        delete from file where file_id = #{fileId}
    </delete>
</mapper>