<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knou.seoul.hanwoori.domain.signup.dao.SignupDAO">
    <resultMap id="signupMemberSubject" type="knou.seoul.hanwoori.domain.signup.dto.Signup">
        <id property="signupId" column="signup_id" />
        <result property="year" column="year" />
        <result property="createdDate" column="created_date" />
        <result property="updatedDate" column="updated_date" />
        <association property="member" javaType="knou.seoul.hanwoori.domain.member.dto.Member">
            <id property="memberId" column="member_id" />
            <result property="name" column="name" />
        </association>
        <association property="subject" javaType="knou.seoul.hanwoori.domain.subject.dto.Subject">
            <id property="subjectId" column="subject_id" />
            <result property="subjectName" column="subject_name" />
        </association>
    </resultMap>
    <!--수강신청 저장-->
    <insert id="save" parameterType="knou.seoul.hanwoori.domain.signup.dto.SignupFormRequestDTO" useGeneratedKeys="true" keyProperty="signupId">
        insert into signup_history
        (
            member_id,
            subject_id,
            year
        )
        values
            (
                #{memberId},
                #{subjectId},
                #{year}
            )
    </insert>
    <!--전체 조회-->
    <select id="findAll" resultMap="signupMemberSubject">
        select h.signup_id,
               h.year,
               h.created_date,
               m.member_id,
               m.name,
               h.subject_id,
               s.subject_name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        join subject        as s on s.subject_id = h.subject_id
    </select>
    <!--조회(id)-->
    <select id="findById" parameterType="Long" resultMap="signupMemberSubject">
        select h.signup_id,
               h.year,
               h.created_date,
               m.member_id,
               m.name,
               h.subject_id,
               s.subject_name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        join subject        as s on s.subject_id = h.subject_id
        where signup_id = #{signupId}
    </select>
    <!--수강신청 수정-->
    <update id="modify" parameterType="knou.seoul.hanwoori.domain.signup.dto.SignupFormRequestDTO">
        update signup_history
        set member_id = #{memberId},
            subject_id = #{subjectId},
            year = #{year},
            updated_date = CURRENT_TIMESTAMP
        where signup_id = #{signupId}
    </update>
    <!--수강신청 삭제-->
    <delete id="delete" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        delete from signup_history where signup_id = #{signupId}
    </delete>
    <!--조회(memberId,Year)-->
    <select id="findByMemberIdAndYear" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup" resultType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        select *
        from signup_history
        where member_id = #{member.memberId}
          and year = #{year}
    </select>
    <!--수강신청 삭제(memberId,year)-->
    <delete id="deleteByMemberIdAndYear" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        delete from signup_history where member_id = #{member.memberId} and year = #{year}
    </delete>
</mapper>