<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knou.seoul.hanwoori.domain.signup.dao.SignupDAO">
    <resultMap id="signupMemberSubject" type="knou.seoul.hanwoori.domain.signup.dto.Signup">
        <id property="signupId" column="signup_id" />
        <result property="year" column="year" />
        <result property="createdDate" column="created_date" />
        <result property="updatedDate" column="updated_date" />
        <association property="member" javaType="knou.seoul.hanwoori.domain.member.dto.Member">
            <id property="memberId" column="member_id" />
            <result property="name" column="name" />
        </association>
        <association property="subject" javaType="knou.seoul.hanwoori.domain.subject.dto.Subject">
            <id property="subjectId" column="subject_id" />
            <result property="subjectName" column="subject_name" />
        </association>
    </resultMap>
    <!--수강신청 저장-->
    <insert id="save" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup" useGeneratedKeys="true" keyProperty="signupId">
        insert into signup_history
        (
            member_id,
            subject_id,
            year
        )
        values
            (
                #{member.memberId},
                #{subject.subjectId},
                #{year}
            )
    </insert>
    <!--전체 조회-->
    <select id="findAll" resultMap="signupMemberSubject">
        select h.signup_id,
               h.year,
               h.created_date,
               m.member_id,
               m.name,
               h.subject_id,
               s.subject_name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        join subject        as s on s.subject_id = h.subject_id
    </select>
    <!--조회(id)-->
    <select id="findById" parameterType="Long" resultMap="signupMemberSubject">
        select h.signup_id,
               h.year,
               h.created_date,
               m.member_id,
               m.name,
               h.subject_id,
               s.subject_name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        join subject        as s on s.subject_id = h.subject_id
        where signup_id = #{signupId}
    </select>
    <!--수강신청 삭제-->
    <delete id="delete" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        delete from signup_history where signup_id = #{signupId}
    </delete>
    <!--조회(memberId)-->
    <select id="findByMemberIdGroupBy" parameterType="Long"  resultMap="signupMemberSubject">
        select h.member_id,
               h.year,
               m.name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        where h.member_id = #{memberId}
        group by h.member_id,h.year,m.name
    </select>
    <!--수강신청 삭제(memberId,year)-->
    <delete id="deleteByMemberIdAndYear">
        delete from signup_history where member_id = #{memberId} and year = #{year}
    </delete>
    <!--조회(Memberid,Year)-->
    <select id="findByMemberIdAndYear" resultMap="signupMemberSubject">
        select h.signup_id,
               h.year,
               h.created_date,
               m.member_id,
               m.name,
               h.subject_id,
               s.subject_name
        from signup_history as h
                 join member         as m on m.member_id  = h.member_id
                 join subject        as s on s.subject_id = h.subject_id
        where h.member_id = #{memberId}
          and h.year = ${year}
    </select>




</mapper>