<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="knou.seoul.hanwoori.domain.signup.dao.SignupDAO">
    <!--수강신청 저장-->
    <insert id="save" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup" useGeneratedKeys="true" keyProperty="signupId">
        insert into signup_history
        (
            member_id,
            subject_id,
            year
        )
        values
            (
                #{memberId},
                #{subjectId},
                #{year}
            )
    </insert>
    <!--전체 조회-->
    <select id="findAll" resultType="knou.seoul.hanwoori.domain.signup.dto.SignupListDTO">
        select h.signup_id,
               h.member_id,
               h.subject_id,
               h.year,
               m.name       as memberName,
               s.subject_name
        from signup_history as h
        join member         as m on m.member_id  = h.member_id
        join subject        as s on s.subject_id = h.subject_id
    </select>
    <!--조회(id)-->
    <select id="findById" parameterType="Long" resultType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        select *
        from signup_history
        where signup_id = #{signupId}
    </select>
    <!--수강신청 수정-->
    <update id="modify" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        update signup_history
        set member_id = #{memberId},
            subject_id = #{subjectId},
            year = #{year},
            updated_date = CURRENT_TIMESTAMP
        where signup_id = #{signupId}
    </update>
    <!--수강신청 삭제-->
    <delete id="delete" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        delete from signup_history where signup_id = #{signupId}
    </delete>
    <!--조회(memberId,Year)-->
    <select id="findByMemberIdAndYear" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup" resultType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        select *
        from signup_history
        where member_id = #{memberId}
          and year = #{year}
    </select>
    <!--수강신청 삭제(memberId,year)-->
    <delete id="deleteByMemberIdAndYear" parameterType="knou.seoul.hanwoori.domain.signup.dto.Signup">
        delete from signup_history where member_id = #{memberId} and year = #{year}
    </delete>
</mapper>